.element {
  background-color: rgb(241, 220, 255);
}

.containleft {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
  margin-top: 10px;
  margin-left: 100px;
}

#formsub {
  /* margin-top: 10px;*/
  margin-left: 20%;
  margin-right: 50%;
  border-bottom: 3px solid pink;
  /* border-right: 2px solid pink; */
}

.required {
  color: red;
}

/* Alert {
  margin-left: 200px;
  align-content: right;
} */

.alert {
  margin-left: 100px;
}

.style22 {
  border-bottom: 2px solid #eee;
  background: #fafafa;
  margin: 0.75rem auto;
  padding: 0.6rem 1rem;
  max-width: 500px;
  border-radius: 7px;
}
